.header{
	width:100%;
	height:100px;
	background-color: #DC143C;
	font-family: sans-serif;
}

.headertype{
	width:400px;
	margin:auto;
	color:white;
	text-align: center;
	padding-top: 5px;
}


.content1{
	width: 800px;
	margin:auto;
	margin-top: 40px;
	font-family: sans-serif;
}

.header_p{
	width:600px;
	margin:auto;
	text-align: center;
	color:white;
	margin-top: -20px;
}
.content2{
	width:800px;
	height:400px;
	margin:auto;
	display: flex;
	font-family: sans-serif;


}

.box1{
	width:300px;
	height:400px;
	
	

	
}
.box1 p{
	text-align: center;
	padding-top: 100px;

	}
.box2{
	width:400px;
	height:400px;
	
}